.footer-social-media__link_instagramm {
    position: relative;
    display: block;
    min-width: 9.5px;
    min-height: 20.4px;
    z-index: 2;
    justify-self: right;
}
.footer-social-media__link_instagramm::before {
    content: "";
    background-image: url(../../../images/instagramm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}