.testimonial-card__image {
    width: 90px;
    height: 90px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    position: relative;
    top: 30px;
    left: 0;
    margin: 0 0 0 20px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .testimonial-card__image {
        top: 0;
    }  
}