.header__nav {
    display: flex;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__nav {
        position: absolute;
        top: 0;
        left: 10px;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .header__nav.active {
        transform: translateX(0);
        flex-direction: column;
    }

}