.try-demo {
    margin: 277px 0 0 0;
    display: grid;
    grid-template-columns: minmax(min-content, 710px) minmax(min-content, 210px)minmax(min-content, 210px);
    justify-content: center;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .try-demo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 0 0;
    }
}