.link__learn-more {
    text-decoration: none;
    font-family: "Avenir";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9C69E2;
    border-radius: 50px;
}