    .storage {
    max-width: 1105px;
    min-height: 100%;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    margin: 0 auto ;
}
@media screen and (max-width: 1024px) {
    .storage {
    padding: 50px;
    max-width: 600px;
    justify-content: center;
    grid-template-columns: minmax(min-content, 500px);
    }
}