.testimonial-card__title {
    font-family: "Avenir";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.005em;
    color: #212353;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    align-self: center;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .testimonial-card__title {
        grid-column: 1;
        grid-row: 2;
    }
}