.header__btn-menu {
    display: none;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__btn-menu {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
        right: 20px;
    }
    .header__btn-menu.active .header__btn-menu-item-top {
        display: none;
    }
    .header__btn-menu.active .header__btn-menu-item-mid {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .header__btn-menu.active .header__btn-menu-item-bot {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
}